
html,body {
  width: 100%; height: 100%; margin: 0px; padding: 0px; }

.speaker img {
  width: 100%;
  max-width: 240px;
  max-height: 240px;
  border-radius: 50%; 
  border: 10px solid grey; 
  box-shadow: 2px 2px 0px rgba(0,0,0, 0.18);
  transition: all 0.1s ease-in;
}

.speaker span {
  padding: 14px 20px;
  display: inline-block;
  font-size: 16px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}
.alert {
  border-radius: 0; }

.container {
  width:100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.container1 {
width:100%;
padding-right: 0;
padding-left: 0;
margin-right: auto;
margin-left: auto; }

.col-xs-1, .col-sm-1, .col-md-1, .col-sm-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-sm-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-sm-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-sm-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-sm-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-sm-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-sm-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-sm-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-sm-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-sm-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-sm-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-sm-12 {
  position: relative;
  height:100%;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0; }

.row {
  margin-right: 0;
  margin-left: 0; }

.footer {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: none; }

.panel {
  border:none; }
.container-fluid{
    padding-top: 0px ;
}

body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
nav{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    color: white;
    font-size: 18px;
    padding-left: 40px;
}

li{
    color:white;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    padding-left: 3%;
    padding-right: 3%;
}

.page-header{
    padding-top: 60px;
    background-color: #F6F6F6;
    padding-bottom:60px;
}

h2{
    font-family: 'Oswald', sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    letter-spacing: 4px;
}

h3{
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
}

p{
    padding-left: 3%;
    padding-right: 3%;
}

.navbar li{
    color: white;
    font-size: 12px;
}

.navbar{
    background-color: #4FC649; 
    border-color: none; 
    padding-left: 4%;
    padding-right: 3%;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:white;
    /*BACKGROUND color for active*/
    background-color: white;
}

.navbar .nav > li > a {
    color:white;
}

.navbar li a, .navbar .navbar-brand {
    color: white;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: black!important;
}


.navbar-default .navbar-toggle {
  border-color: transparent;
  color: white !important;
}

.navbar-default .navbar nav li a {
 background-color: #26C485;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-image: url("images/controller.png");
}

.slide1, .slide2, .slide3{
    min-height: 450px;
    background-size: cover;
    background-position: center center;
    //opacity: 0.5;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.slide1 {
    background-image: url("images/background/b1.png");
}
.slide2 {
    background-image: url("images/background/b2.png");
}
.slide3 {
    background-image: url("images/background/b3.png");
}


.bg-grey {
  background-color: #F6F6F6;
  padding-top: 50px;
}

.carousel-overlay {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    color: #1D1D1B;
    font-family: 'Montserrat', sans-serif;
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 50px 0;
}

.section-heading {
    margin: 20px 0;
    font-size: 4em;
}

.section-lead {
    margin: 20px 0;
}

.section-paragraph {
    margin: 20px 0;
}

footer {
    margin: 50px 0;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}